.container {
    display:flex;
    max-width: 1280px;
    margin: 0, auto;
    display: flex;
    align-items: center;
    height: 100%;

}

.main-column1{
    max-width:25%;
}

.main-column2{
    max-width:75%;
    display: flex;
    flex-direction: row;
}

.character_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 15px;
    height: 400px;
    width: 280px;
    margin: 20px;
    
}

.character_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character_status {
    display: flex;
    justify-content: center;
}

.character_image{
    border-radius:100%;
    height: 150px;
    width: 150px;
}