

select{
    background-color: none;
    height: 50px;
    border-radius: 15px;
    border-color: none;
    border-style: none;
    width: 415px;
    font-size: 16px;
    margin-left: 10px;
}


h1{
    color: rgb(51, 51, 51);
}