.filter-box{
    display: block;
    flex-direction: column;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-left:20px;
    
}

summary{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.644);
    
    cursor: pointer;
}

label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: 48;
    background-color: white;
    border-color: #F2F2F2;
    border-radius: 10px;
    border-style: solid;
    width: 200px;
    height: 60px;

    cursor: pointer;
}

label:hover{
    background-color:#4ba8ff;
    color:white;
}

.filters{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filters a {
    color:rgb(59, 130, 246);
    font-size:16px;
    margin-top:0;
    margin-bottom:15px;
}         

.filter-box input {
    visibility:hidden;
}

input:checked + label {
    background: #4ba8ff;
    color: white;
}