.filter-box{
    display: block;
    flex-direction: column;
    height: 900px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-left:20px;
    
}

summary{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    /* margin: 20px 0px 25px 40px; */
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 25px;

    border-bottom: 1px solid lightgray;
}


.Filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: 48;
    background-color: white;
    border-color: #F2F2F2;
    border-radius: 10px;
    border-style: solid;
    width: 200px;
    height: 60px;

}

label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: 48;
    background-color: white;
    border-color: #F2F2F2;
    border-radius: 10px;
    border-style: solid;
    width: 200px;
    height: 60px;

}

.filters{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-box input {
    visibility:hidden;
}

input:checked + label {
    background: rgb(75, 168, 255);
    color: white;
}