.filter-box{
    display: block;
    flex-direction: column;
    height: 1000px;
    background-color: white;
    border-radius: 10px;
    
}

summary{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
}


.Filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    
    margin-left: 40px;
    font-size: 48;
    background-color: white;
    border-color: #F2F2F2;
    border-radius: 10px;
    border-style: solid;
    width: 200px;
    height: 60px;

}