.pagination-buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.Previous,
.Next {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    background-color: #558bff;
    color: white;
    font-size: 13px;
}

.Previous:hover,
.Next:hover {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}

