header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;

    background-color: white;
    border-bottom: 2px solid lightgray;
}

header h1 {
    margin-left: 20px;
}

.nav-bar{
    gap:20px;
}