@import url(header.css);
@import url(filterbox.css);
@import url(characters.css);

html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor:pointer;
}

.body-container{
    margin:1rem;

    width:100%;
    height:100%;
    max-width:1248px;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
}
